# MACHINE LEARNING TEST 1

In [1]:
#Name: Mwanje Musa
#Reg No: MAY22/MSC/1615U
#Programme: MSc. COMP (CS)

In [2]:
#defining imports 
import pandas as pd 
import numpy as np 
import requests
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures # importing a class for Polynomial Regression
plt.style.use('fivethirtyeight')
%matplotlib inline

In [3]:
#read data from url
data = requests.get('https://www.worldometers.info/world-population/uganda-population/')
data_tables = pd.read_html(data.text)
#reading the data set for Population of Uganda
table_df = data_tables[1]
#removing % sign
cols = ['Yearly % Change','Urban Pop %',"Country's Share of World Pop"]
table_df[cols] = table_df[cols].replace({'%': ''}, regex=True)
table_df

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/KmÂ²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,UgandaGlobal Rank
0,2020,45741007,3.32,1471413,168694,16.7,5.01,229,25.7,11775012,0.59,7794798739,31
1,2019,44269594,3.61,1540558,168694,16.1,5.62,222,25.2,11135655,0.57,7713468100,32
2,2018,42729036,3.80,1562448,168694,16.1,5.62,214,24.6,10525083,0.56,7631091040,33
3,2017,41166588,3.83,1517422,168694,16.1,5.62,206,24.2,9942312,0.55,7547858925,34
4,2016,39649166,3.72,1423713,168694,16.1,5.62,198,23.7,9386309,0.53,7464022049,35
5,2015,38225453,3.34,1159457,-59999,15.9,5.78,191,23.2,8855831,0.52,7379797139,35
6,2010,32428167,3.21,948716,-100000,15.4,6.38,162,20.3,6573772,0.47,6956823603,37
7,2005,27684585,3.20,806883,-50000,15.2,6.75,139,17.5,4841176,0.42,6541907027,39
8,2000,23650172,2.99,647404,-36000,15.2,6.95,118,15.0,3554371,0.38,6143493823,42
9,1995,20413152,3.30,611752,22000,15.5,7.06,102,12.9,2639817,0.36,5744212979,46
10,1990,17354392,3.57,559007,40000,15.9,7.10,87,11.1,1931504,0.33,5327231061,47
11,1985,14559355,3.19,423404,-24000,16.3,7.10,73,9.2,1340406,0.30,4870921740,50
12,1980,12442334,2.99,340986,-36000,16.4,7.10,62,7.6,945460,0.28,4458003514,52
13,1975,10737403,2.68,266361,-55222,16.5,7.10,54,7.1,762275,0.26,4079480606,52
14,1970,9405600,3.33,283907,10001,16.5,7.12,47,6.7,629441,0.25,3700437046,56
15,1965,7986066,3.37,243794,25000,16.8,7.05,40,5.5,441548,0.24,3339583597,65
16,1960,6767095,2.82,175660,0,17.1,6.95,34,4.4,299817,0.22,3034949748,65
17,1955,5888793,2.68,146121,0,17.8,6.90,29,3.5,208359,0.21,2773019936,65

# (a) Simple Linear Regression

In [4]:
# dependent variable for y axis
y = table_df['Population']
# independent variable for x axis
x = np.c_[table_df['Year']]

In [5]:
#fitting a simple regression model for predicting popluation using year
lm = LinearRegression()
lm_model = lm.fit(x,y)

print ('The slope of line is:', lm_model.coef_)
print ('The y-intercept is:',lm_model.intercept_)

The slope of line is: [631121.5758218]
The y-intercept is: -1234056167.0068686

In [6]:
#prediction
year_X = np.c_[2028]
pred_model = lm.predict(year_X)
pred_model

array([45858388.7597487])

## Evaluating the model

In [7]:
print('MAE', metrics.mean_absolute_error(pred_model,year_X))
print('RMSE',np.sqrt(metrics.mean_squared_error(pred_model,year_X)))

MAE 45856360.7597487
RMSE 45856360.7597487

# (b) Multiple Linear Regression

In [8]:
#creating X instance representing input variable (minus year)
X = table_df.drop('Year',axis = 1)

In [9]:
multiple_model = lm.fit(X,table_df.Year)

In [10]:
pd.DataFrame(zip(X.columns,multiple_model.coef_),columns = ['Variables','estimated_coefficient'])

                       Variables  estimated_coefficient
0                     Population          -4.243462e-06
1                Yearly % Change           9.406280e-01
2                  Yearly Change           4.357248e-07
3                 Migrants (net)          -3.025733e-06
4                     Median Age          -3.196686e+00
5                 Fertility Rate          -2.652398e+00
6                Density (P/KmÂ²)           2.791892e-01
7                    Urban Pop %          -1.168154e+00
8               Urban Population           6.675358e-06
9   Country's Share of World Pop           1.384097e+01
10              World Population           2.186917e-08
11             UgandaGlobal Rank          -7.611256e-02

In [11]:
print ('The y-intercept of the multiple regression model:',multiple_model.intercept_)

The y-intercept of the multiple regression model: 1988.6412777372707

# (c) Order 2 polynomial Regression

## Fitting a polynomial model order 2 with all the variables

In [12]:
#polynomial model of order 2
poly_lm = PolynomialFeatures(degree = 2)
#transforming the features to the polynomial form
X_poly = poly_lm.fit_transform(X) 
#creating a linear regression object
lin_reg_2 = LinearRegression() 
#fits the linear regression object to the polynomial features
poly_model = lin_reg_2.fit(X_poly, y)

In [13]:
pd.DataFrame(zip(X.columns,poly_model.coef_),columns = ['Variables','estimated_coefficient'])

                       Variables  estimated_coefficient
0                     Population          -8.556129e-12
1                Yearly % Change           5.121625e-09
2                  Yearly Change          -1.748991e-14
3                 Migrants (net)           2.129113e-10
4                     Median Age           2.216553e-12
5                 Fertility Rate          -7.207812e-15
6                Density (P/KmÂ²)           5.255077e-16
7                    Urban Pop %           1.869097e-14
8               Urban Population           1.095292e-14
9   Country's Share of World Pop           6.837140e-10
10              World Population           1.702374e-16
11             UgandaGlobal Rank           1.149674e-06

In [14]:
print ('The y-intercept of the order 2 polynomial regression model:',poly_model.intercept_)

The y-intercept of the order 2 polynomial regression model: 100240.31366784126

## Fitting a polynomial model order 2 with only year as the input variable

In [15]:
#polynomial model of order 2
poly_lm = PolynomialFeatures(degree = 2)
#transforming the features to the polynomial form
x_poly = poly_lm.fit_transform(x) 
#creating a linear regression object
lin_reg_2 = LinearRegression() 
#fits the linear regression object to the polynomial features
poly_model_year = lin_reg_2.fit(x_poly, y)

print ('The y-intercept of the order 2 polynomial regression model:',poly_model_year.intercept_)

The y-intercept of the order 2 polynomial regression model: 36654917876.36128

## Prediction and Evaluation

In [16]:
poly_2_pred = lin_reg_2.predict(poly_lm.fit_transform([[2028]]))
poly_2_pred

array([54838992.54730225])

# (d) Order 3 polynomial Regression

## Fitting a polynomial model order 3 with all the variables

In [17]:
#polynomial model of order 3
poly_lm = PolynomialFeatures(degree = 3)
#transforming the features to the polynomial form
X_poly = poly_lm.fit_transform(X) 
#creating a linear regression object
lin_reg_3 = LinearRegression() 
#fits the linear regression object to the polynomial features
poly_model_3 = lin_reg_3.fit(X_poly, y)

In [18]:
pd.DataFrame(zip(X.columns,poly_model_3.coef_),columns = ['Variables','estimated_coefficient'])

                       Variables  estimated_coefficient
0                     Population          -1.406976e-20
1                Yearly % Change           1.037902e-22
2                  Yearly Change          -3.089594e-22
3                 Migrants (net)          -9.658610e-23
4                     Median Age          -1.001739e-24
5                 Fertility Rate          -1.169410e-24
6                Density (P/KmÂ²)           5.461960e-26
7                    Urban Pop %           8.168031e-25
8               Urban Population           2.846501e-28
9   Country's Share of World Pop          -5.198717e-27
10              World Population           1.117007e-26
11             UgandaGlobal Rank           1.118866e-25

In [19]:
print ('The y-intercept of the order 2 polynomial regression model:',poly_model_3.intercept_)

The y-intercept of the order 2 polynomial regression model: 1210762.0479138568

## Fitting a polynomial model order 3 with only year as the input variable

In [20]:
#polynomial model of order 3
poly_lm = PolynomialFeatures(degree = 3)
#transforming the features to the polynomial form
x_poly = poly_lm.fit_transform(x) 
#creating a linear regression object
lin_reg_3 = LinearRegression() 
#fits the linear regression object to the polynomial feature
poly_model_3_year = lin_reg_3.fit(x_poly, y)

print ('The y-intercept of the order 2 polynomial regression model:',poly_model_3_year.intercept_)

The y-intercept of the order 2 polynomial regression model: -871186672486.6025

# (e) Exponential growth (3 marks)

In [21]:
# independent variable for x axis
x = table_df['Year']
#fitting an exponential model
expo_model = np.polyfit(x, np.log(y), 1)

In [22]:
#viewing intercept and coefficient of the model
print(expo_model)

[ 3.15988823e-02 -4.62079346e+01]